.line_box {
  position: absolute;
  height: 30px;
  width: 19px;
  left: -6px;
  top: 14px;

  &.h_line {
    border-top: 1px solid var(--line-color);
  }

  &.v_line {
    border-right: 1px solid var(--line-color);
  }

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--table-bg-color);
    top: -6px;
    right: -6px;
  }
}
