.container {
  position: relative;
  display: flex;
  align-items: center;

  &:hover .hide_icon {
    width: 24px;
  }
}

.icons {
  z-index: 1;
  padding: 2px;
  border-radius: 6px;
  display: flex;
  transition: background-color 0.5s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--table-icons-bg-color);
  }
}

.hide_icon {
  width: 0;
  transition: width 0.5s ease;
}

.line_box {
  position: absolute;
  width: 20px;
  height: 60px;
  left: -8px;

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--table-bg-color);
    top: 24px;
    right: -6px;
  }
}

.up_lines {
  height: 50%;

  &.ul_bottom {
    border-bottom: 1px solid var(--line-color);
  }

  &.ul_left {
    border-left: 1px solid var(--line-color);
  }
}

.down_lines {
  height: 50%;

  &.dl_right {
    border-right: 1px solid var(--line-color);
  }

  &.dl_left {
    border-left: 1px solid var(--line-color);
  }
}
