.container {
  height: 42px;
  box-shadow: 0 1px var(--border-color);
  position: sticky;
  top: 0;
  background-color: var(--table-bg-color);
  z-index: 3;

  .fill {
    width: 100%;
  }

  th {
    font-weight: 400;
    text-align: left;
    color: var(--secondary-text-color);
    padding: 0 12px;
    white-space: nowrap;
  }
}