.container {
  width: 100%;
  background-color: var(--table-bg-color);
}

.table {
  border-collapse: collapse;
  padding: 0 10px;
  height: calc(100% - 45px);
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
