@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --bg-color: #27272a;
  --border-color: #414144;
  --primary-text-color: #fff;
  --secondary-text-color: #a1a1aa;
  --secondary-color: #a1a1aa;
  --line-color: #c6c6c6;
  --table-bg-color: #202124;
  --table-icons-bg-color: #414144;

  --header-height: 44px;

  color-scheme: dark;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
